src/main/resources/CustomerServiceImp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.app.soap.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.app.soap.com" xmlns:intf="http://service.app.soap.com" xmlns:tns1="http://model.app.soap.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.app.soap.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://model.app.soap.com"/>
   <element name="createCustomer">
    <complexType>
     <sequence>
      <element name="customer" type="tns1:Customer"/>
     </sequence>
    </complexType>
   </element>
   <element name="createCustomerResponse">
    <complexType/>
   </element>
   <element name="getCustomer">
    <complexType>
     <sequence>
      <element name="id" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCustomerResponse">
    <complexType>
     <sequence>
      <element name="getCustomerReturn" type="tns1:Customer"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAllCustomer">
    <complexType/>
   </element>
   <element name="getAllCustomerResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getAllCustomerReturn" type="tns1:Customer"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateCustomer">
    <complexType>
     <sequence>
      <element name="customer" type="tns1:Customer"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateCustomerResponse">
    <complexType/>
   </element>
   <element name="deleteCustomer">
    <complexType>
     <sequence>
      <element name="customer" type="tns1:Customer"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteCustomerResponse">
    <complexType/>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://model.app.soap.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Customer">
    <sequence>
     <element name="country" nillable="true" type="xsd:string"/>
     <element name="id" nillable="true" type="xsd:long"/>
     <element name="name" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="createCustomerRequest">

      <wsdl:part element="impl:createCustomer" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateCustomerRequest">

      <wsdl:part element="impl:updateCustomer" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateCustomerResponse">

      <wsdl:part element="impl:updateCustomerResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteCustomerRequest">

      <wsdl:part element="impl:deleteCustomer" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllCustomerResponse">

      <wsdl:part element="impl:getAllCustomerResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteCustomerResponse">

      <wsdl:part element="impl:deleteCustomerResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCustomerResponse">

      <wsdl:part element="impl:getCustomerResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllCustomerRequest">

      <wsdl:part element="impl:getAllCustomer" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCustomerRequest">

      <wsdl:part element="impl:getCustomer" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createCustomerResponse">

      <wsdl:part element="impl:createCustomerResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="CustomerServiceImp">

      <wsdl:operation name="createCustomer">

         <wsdl:input message="impl:createCustomerRequest" name="createCustomerRequest">

       </wsdl:input>

         <wsdl:output message="impl:createCustomerResponse" name="createCustomerResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCustomer">

         <wsdl:input message="impl:getCustomerRequest" name="getCustomerRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCustomerResponse" name="getCustomerResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllCustomer">

         <wsdl:input message="impl:getAllCustomerRequest" name="getAllCustomerRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllCustomerResponse" name="getAllCustomerResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateCustomer">

         <wsdl:input message="impl:updateCustomerRequest" name="updateCustomerRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateCustomerResponse" name="updateCustomerResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteCustomer">

         <wsdl:input message="impl:deleteCustomerRequest" name="deleteCustomerRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteCustomerResponse" name="deleteCustomerResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CustomerServiceImpSoapBinding" type="impl:CustomerServiceImp">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="createCustomer">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createCustomerRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createCustomerResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCustomer">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCustomerRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCustomerResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllCustomer">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllCustomerRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllCustomerResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateCustomer">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateCustomerRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateCustomerResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteCustomer">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteCustomerRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteCustomerResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CustomerServiceImpService">

      <wsdl:port binding="impl:CustomerServiceImpSoapBinding" name="CustomerServiceImp">

         <wsdlsoap:address location="http://localhost:8080/WebServiceProject/services/CustomerServiceImp"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
